<div id="profileContainer">
    <div class="container pato45" id="contentToConvert">
      <div class="row">
        <div class="col-md-3">
          <div class="avatarFrameonline">
            <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
          </div>
          <input type="button" class="form-control" value="CPTURE" (click)="captureScreen()"/>  
        </div>
        <div class="col-md-9">
          <div>
            <label fixed >Nick</label>
            <input type="text" class="form-control" [(ngModel)]="user.nick" disabled/>
          </div>
          <div>
            <label fixed >Subnick</label>
            <input type="text" class="form-control" [(ngModel)]="user.subNick"/>
          </div>
          <div>
            <label fixed >Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" disabled/>
          </div>
          <div>
            <label fixed >Status</label>
            <select class="form-control" [(ngModel)]="user.status">
              <option value="online">Conectado</option>
              <option value="awaye">Ausente</option>
              <option value="busy">Ocupado</option>
              <option value="appear_offline">Desconectado</option>
            </select>
          </div>
          <hr />
          <a class="btn btn-primary btn-block" (click)="save()">Guardar</a>
        </div>
      </div>
    </div>
  </div>
  