<div id="homeContainer">
    <div class="whiteBorderClassBox">
        <div class="homeHeaderContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameOnline">
                        <img src="assets/img/generic_avatar.png" alt="avatarGenerico" id="homeAvatarPicture"/>
                    </div>
                </div>
                <div class="col-md-auto">
                    <b>{{myUser.nick}}</b>
                    <div>
                        <span>{{myUser.status}}</span>
                        <br>
                        <span>< {{myUser.subNick || 'No subnick'}} ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Buscar Amigo" [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" (click)="newFriend = true" class="icon">
            </div>
        </div>
        <div *ngIf="friendsPending.length">
            <hr>
            <b>Solicitudes pendientes ({{friendsPending.length}})</b><br>
            <div *ngFor = "let user of friendsPending; let i = index" class="disblo marbo5">
                <b>{{user['User1.nick']}}</b> - {{user['User1.subNick'] || 'No subnick'}}
                <small>{{user['User1.email']}}</small> | 
                <button (click)="accept(user.uid)" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
        <hr>
        <b>Amigos {{friends.length}}/{{friends.length}}</b><br>
        <div *ngFor = "let user of friends | search: query; let i = index" class="disblo marbo5">
            <a routerLink="/chat/{{user.uid}}">
                <img class="logo-conexion" src="assets/img/logo_live_{{user.status}}.png" alt="Logo Conexion">
                <b>{{user.nick}}</b> - {{user.subNick || 'No subnick'}}
                <small>{{user.email}}</small>
            </a>
        </div>
    </div>
</div>

<div *ngIf="newFriend" class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Correo de nuevo Amigo</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="newFriend = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <input class="form-control" type="text" [(ngModel)]="friendEmail">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="newFriend = false" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="addFriend()">Agregar</button>
        </div>
      </div>
    </div>
  </div>