.logo-conexion {
    width: 20px;
}
#homeContainer{
    background-image: url('/assets/img/msnbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.whiteBorderClassBox {
    /* border: 2px solid rgba(255, 255, 255, .75); */
    padding: 8px;
}
#homeAvatarPicture {
    max-height: 100px;

}
.whiteContainerPadded {
    padding: 15px;
    background-color: #feffff;
}
img.icon {
    width: 30px;
}
.modal {
    display: block !important;
}